# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

# Окружение
.env

# Редакторы и ОС
.vscode/
.idea/
.DS_Store
Thumbs.db
.git_backup/
.git_backup/
